h1{
  color: #ff7621;
  font-family: "Rockwell";
  transform: translate( 0px, -100px)
}

p{
  transform: translate(0px, -120px);
  font-weight: bold;
}

.square {
  transform: translate(0px, 90px);
  height: 3px;
  width: 100px;
  background-color: #555;
}

.logo{
  transform: translate(1780px, 1px);
}

input{
  transform: translate(20px, 100px);
}

.warning{
  transform: translate(0px, -110px);
  font-weight: normal;
}

.line{
  transform: translate(0px, 0px);
  weight: 3px;
  border-right: 6px
  solid  #ff7621;
  height: 900px;
}

.Textinput{
  transform: translate(-100px, 750px);
}

#design{
  background-color: #edebea;
  padding-top: 10px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  transform: translate(0px,-100px);
  width: 860px;
  height: 600px;
  border-style: double;
}

#User2{
  font-weight: normal;
  transform: translate(12px,-680px);
}

#User3{
  font-weight: normal;
  transform: translate(12px,-675px);
}

#rect{
  transform: translate(1780px,-800px);
  height: 600px;
  width: 100px;
  background-color: #ffc16b;
}

#link1{
  transform: translate(5px,10px);
}

#link2{
  transform: translate(5px,5px);
}

#link3{
  transform: translate(5px,0px);
}

#link4{
  transform: translate(5px,-5px);s
}

#describe{
  transform: translate(5px,5px);
  color: #260e03;
}

.button{
  transform: translate(400px,-155px);
  background-color: #ff7621;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
